<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "שם הצוות" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :tag_list, "תגיות" %>
    <%=
      form.text_field :tag_list,
      value: @team.send(:tag_list).to_s,
      placeholder: 'הגשמה, חיי גרעין'
    %>
  </div>

  <div class="field">
    <%= form.label :users, "משתמשים משויכים לצוות:", class: "block" %>
    <%= form.collection_select :user_ids, User.all, :id, :name, {prompt: 'בחירת חברי הצוות'}, {multiple: true, class: "select2", style: "width: 100%;"} %>
  </div>

  <div class="actions">
    <%= form.submit "שליחה", class: "p-2 rounded" %>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $('.select2').select2();
  });
</script>
