<% content_for :title, "צוותים | ארכיון השומר הצעיר" %>
<p id="notice"><%= notice %></p>

<h1>צוותים</h1>

<!--Container-->
<div class="container w-full md:w-4/5 xl:w-3/5  mx-auto px-2 mt-20 text-gray-900">
<!--Card-->
  <div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
  	<table id="table" class="stripe hover">
  		<thead>
  			<tr>
  				<th data-priority="1">שם הצוות</th>
          <% if current_user.admin? %>
    				<th data-priority="3"></th>
          <% end %>
  			</tr>
  		</thead>
  		<tbody>
        <% @teams.each do |team| %>
          <tr>
              <td><%= link_to team.name, team %></td>
              <% if current_user.admin? %>
                <td><%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_team_path(team) %>
                <%= link_to "<i class='material-icons'>delete</i>".html_safe, team, method: :delete, data: { confirm: 'בטוח\ה?' } %></td>
              <% end %>
          </tr>
        <% end %>
  		</tbody>
  	</table>
  </div>
  <!--/Card-->
</div>
<!--/container-->
<%= link_to 'יצירת צוות חדש', new_team_path %>
