<%= form_with(model: [@team, @meeting], local: true) do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
        <% meeting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subject, "נושא הפגישה" %>
    <%= form.text_area :subject %>
  </div>

  <div class="field">
    <%= form.label :content, "תוכן הפגישה" %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="field">
    <%= form.label :tag_list, "תגיות" %>
    <%=
      form.text_field :tag_list,
      value: @meeting.send(:tag_list).to_s,
      placeholder: 'הגשמה, חיי גרעין'
    %>
  </div>

  <div class="field">
    <%= form.label :users, "חברי וחברות צוות שנכחו בפגישה" %>
    <%= form.collection_select :user_ids, @team.users, :id, :name, {prompt: 'בחירת חברי צוות נוכחים'}, {multiple: true} %>
  </div>

  <div class="field">
    <%= form.label :privacy, "פרטיות: " %>
    <% privacy_options = [["פרטי", "personal"], ["צוותי", "team"], ["ציבורי", "commons"]] %>
    <%= form.select :privacy, privacy_options, { include_blank: true } %>
  </div>

  <div class="field">
    <%= form.file_field :attachments, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit "שליחה", class: "p-2 rounded" %>
  </div>
<% end %>
