<p id="notice"><%= notice %></p>

<h1>פגישות</h1>

<table>
  <thead>
    <tr>
      <th>צוות</th>
      <th>תוכן</th>
      <th>פרטיות</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.team_id %></td>
        <td><%= meeting.content %></td>
        <td><%= he_privacy[@meeting.privacy.to_sym] %></td>
        <td><%= link_to 'הצגה', meeting %></td>
        <td><%= link_to 'עריכה', edit_meeting_path(meeting) %></td>
        <td><%= link_to 'מחיקה', meeting, method: :delete, data: { confirm: 'בטוח\ה?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'יצירת פגישה חדשה', new_meeting_path %>
