<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @meeting.subject %>
</p>

<p>
  <strong>Team:</strong>
  <%= Team.find(@meeting.team_id).name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @meeting.content %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @meeting.privacy %>
</p>

<p>
  <strong>Attachment count:</strong>
  <%= @meeting.attachments.count %>
</p>

<p>
  <strong>Users present:</strong>
  <ul>
    <% @meeting.users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_team_meeting_path(@meeting) %> |
<%# link_to 'Back', meetings_path %>
