<% content_for :title, "#{@meeting.subject} | ארכיון השומר הצעיר" %>

<div class="doc-meet-show">
  <div class="">
    <% if params[:sent] %>
    <strong>מייל נשלח בהצלחה</strong>
    <% end %>
    <p id="notice"><%= notice %></p>
      <% if @meeting.team.users.ids.include?(current_user.id) || current_user.admin? %>
        <div class="actions">
          <%= link_to "<i class='material-icons edit'>edit</i>".html_safe, edit_team_meeting_path(@meeting.team, @meeting), class: "lg:ml-10 ml-2 my-5 font-bold flex items-center" %>
          <%= link_to "<i class='material-icons mail'>mail</i>".html_safe, send_meeting_path(meeting: @meeting.id, user: current_user.id), class: "lg:m-10 m-2 font-bold flex items-center" %>
          <%= link_to "<i class='material-icons delete'>delete</i>".html_safe, team_meeting_path(@meeting.team, @meeting), method: :delete, data: { confirm: 'בטוח\ה?' }, class: "lg:m-10 m-2 text-red-600 font-bold flex items-center " %>
        </div>
      <% end %>
    <div class="head block lg:grid">
      <div class="">
        <h1>
            <%= @meeting.subject %>
        </h1>

        <h3>
            <%= Team.find(@meeting.team_id).name %>
        </h3>
      </div>
      <div class="tags-privacy">
        <div>
          <% @meeting.tag_list.each do |tag| %>
            <%= link_to tag,  search_path(tag: tag) %> |
          <% end %>
        </div>
        <div>
          <%= he_privacy[@meeting.privacy.to_sym] %>
        </div>

      </div>
    </div>

    <ul>
      <% @meeting.users.each do |user| %>
      <li><%= user.name %></li>
      <% end %>
    </ul>
    <hr class="mt-4 border-black">

    <div class="content mt-4">
        <%= @meeting.content %>
    </div>





    <div>
    <ul>
        <% @meeting.attachments.each do |attachment| %>
          <% if attachment.image? %>
          <li class="mt-4">
              <%= link_to url_for(attachment), target: "_blank" do %>
                  <% image_tag attachment.variant(resize_to_limit: [250, 250]) %>
              <% end %>
          </li>
          <% elsif attachment.video? %>
            <li class="mt-4"><%= video_tag url_for(attachment), controls: true %></li>
          <% elsif attachment.audio? %>
            <li class="mt-4"><%= audio_tag attachment %></li>
          <% elsif attachment.text? %>
            <li class="mt-4">
                <div><%= attachment %></div>
            </li>
          <% else %>
            <%= link_to url_for(attachment) do %>
              <% if attachment.previewable? %>
                <li class="mt-4"><%= image_tag attachment.preview(resize_to_limit: [1000, 1000]) %></li>
              <% else %>
                <%= attachment.filename %> <br>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
    </ul>
  </div>
  </div>
</div>
