<% content_for :title, "חיפוש | ארכיון השומר הצעיר" %>
<h1>חיפוש חומרים</h1>

<!--Container-->
<div class="container w-full md:w-4/5  mx-auto px-2 mt-20 text-gray-900">
    <!--Card-->
    <div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
      <div class="flex mb-4 w-full justify-end">
        <%= link_to  "פגישות", search_path(meetings: true), class: "text-center hover:bg-blue-600 text-blue-600 hover:text-white font-bold py-2 px-4 border-2 border-blue-600 hover:border-transparent rounded-full font-bold shadow ml-2" %>
        <%= link_to  "מסמכים", search_path(documents: true), class: "text-center hover:bg-blue-600 text-blue-600 hover:text-white font-bold py-2 px-4 border-2 border-blue-600 hover:border-transparent rounded-full font-bold shadow" %>
      </div>
      <br>
      <table class="hover stripe row-border order-column" id="search-table" data-sort="true" data-source="<%= search_path(format: :json, documents: params[:documents], meetings: params[:meetings], tag: params[:tag]) %>">
        <thead>
          <tr>
            <th data-priority="1" data-data="title">כותרת</th>
            <th data-priority="2" data-data="description">תיאור</th>
            <th data-priority="3" data-data="content">תוכן</th>
            <th data-priority="4" data-data="user">משתמש/צוות</th>
            <th data-priority="6" data-data="date">שנה</th>
            <th data-priority="7" data-data="tags">תגיות</th>
            <% if user_signed_in? && current_user.admin? %>
              <th data-priority="5" data-data="privacy">פרטיות</th>
              <% unless params[:meetings] %>
                <th data-priority="8" data-data="status">סטטוס</th>
              <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @documents.first(10).each do |doc| %>
            <tr>
              <td><%= doc.title %></td>
              <td><%= doc.description %></td>
              <td><%= doc.content %></td>
              <td><%= doc.user.name %></td>
              <td><%= doc.date %></td>
              <td><%= doc.tags.first %></td>
              <td><%= doc.privacy %></td>
              <td><%= link_to he_status[doc.status.to_sym], toggle_status_path(clicked_document: doc.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <!--/Card-->
</div>
<!--/container-->

<div class="text-sm">
    אם מסמך שהעליתן לא כאן, כנראה הוא מחכה לאישור של המנהלים. אפשר לראות את המצב בפרופיל שלכן
</div>

<script>
    $(document).ready(function() {
//       var columns = [
//       { "data": "title" },
//       { "data": "description" },
//       { "data": "content" },
//       { "data": "user" },
//       { "data": "date" },
//       { "data": "tags" },
//       { "data": "privacy" },
//       { "data": "status" }
// ];
//
//       var data = [];
// $('#search-table tbody tr').each(
//     function()
//     {
//         var item = {};
//         $(this).find('td').each(
//             function(i)
//             {
//                 item[columns[i].data] = $(this).html();
//             }
//         );
//         data.push(item);
//     }
// );
// console.log(data);
        $('#search-table').DataTable({
            "columnDefs": [{
                "targets": [2],
                "visible": false,
            }],
            responsive: true,
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Hebrew.json"
            },
            "ajax": {"url": $('#search-table').data('source')}
        });
    });
</script>
