<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field flex-auto w-full">
    <%= form.label :title, "כותרת:" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description, "תיאור" %>
    <%= form.rich_text_area :description %>
  </div>

  <div class="field">
    <%= form.label :content, "תוכן" %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="field">
    <%= form.label :date, "תאריך יצירת המסמך (אפשר להשאיר ריק אם זה היום)" %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :tag_list, "תגיות:" %>
    <%=
      form.text_field :tag_list,
      value: @document.send(:tag_list).to_s,
      placeholder: 'הגשמה, חיי גרעין'
    %>
  </div>

  <div class="field">
    <%= form.label :privacy, "הגדרת פרטיות:" %>
    <% privacy_options = [["פרטי", "personal"], ["פנים תנועתי", "internal"], ["ציבורי", "commons"]] %>
    <%= form.select :privacy, privacy_options %>
  </div>

  <div class="field">
    <%= form.label :attachments, "העלאת קבצים:" %>
    <%= form.file_field :attachments, multiple: true %>
    <p style="font-size: 0.8rem">ניתן להעלות קבצי PDF,  אופיס, תמונות, סרטונים והקלטות קוליות</p>
  </div>

  <div class="field">
    <%= form.label :current_attachments, "קבצים מצורפים כרגע:" %>
    <ul>
      <% @document.attachments.all.each do |attachment| %>
        <li class="my-4"><%# image_tag attachment.preview(resize_to_limit: [300, 300]) %></li>
        <li class="my-4"><%= attachment.blob.filename %></li>
      <% end %>
    </ul>
  </div>

  <div class="actions">
    <%= form.submit "שליחה", class: "p-2 rounded" %>
  </div>
<% end %>
