<%= form_with(model: document, local: true, class:"doc-meet") do |form| %>
<div class="">
  <% if document.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

    <ul>
      <% document.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <span class="saved">המסמך נשמר!</span>
  <div class="actions">
    <div class="action">
      <%= button_tag do %>
        <i class='material-icons'>save</i> שמירה
      <% end %>
    </div>


    <% if @document.attachments.present? %>
      <button type="button" name="button" class="open-upload-files uploaded"><i class='material-icons'>attachment</i>קבצים</button>
    <% else %>
      <button type="button" name="button" class="open-upload-files"><i class='material-icons'>attachment</i>קבצים</button>
    <% end %>
    <!-- <button type="button" name="button"><i class='material-icons'>lock</i>פרטיות</button> -->
    <div class="field form-files">
      <button type="button" id="upload-files" onclick="$('.file-upload-input').trigger( 'click' )">בחירת קבצים</button>
      <%= form.file_field :attachments, multiple: true, class:"file-upload-input" %>
      <ul class="files">
      <% if  @document.attachments.present? %>
        <% @document.attachments.each do |attachment| %>
          <li><%= attachment.filename %></li>
        <% end %>
      <% end %></ul>
      <p style="font-size: 0.8rem">ניתן להעלות מספר קבצי PDF,  אופיס, תמונות, סרטונים והקלטות קוליות</p>
      <button type="button" name="button" id="ok" class="close-upload-files">אישור</button>
    </div>

    <div class="field form-privacy">
      <span class="internal switch-labels">ציבורי</span>
      <%= form.label :privacy, class:"switch" do %>
        <%= form.check_box :privacy, { class:"checkbox"} , "commons", "internal"%>
        <span class="slider round"  data-icon="lock"></span>
      <% end %>
      <span class="commons switch-labels">תנועתי</span>
    </div>
  </div>
</div>
  <div class="first-details">
    <div class="field flex-auto w-full rising-label">
      <%= form.text_field :title, required: true %>
      <%= form.label :title, "כותרת" %>
    </div>
    <div class="field rising-label">
      <%= form.date_field :date, value: Date.today %>
      <%= form.label :date, "תאריך יצירה" %>
    </div>
    <div class="field rising-labela">
      <%= form.collection_select :tag_list, ActsAsTaggableOn::Tag.all, :name, :name, {prompt: 'בחירת חברי הצוות'}, {multiple: true, class: "select2_tags", style: "width: 100%;", placeholder:"תגיות" }%>
      <%# form.label :tag_list, "תגיות" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, "תיאור" %>
    <%= form.rich_text_area :description %>
  </div>

  <div class="field">
    <%= form.label :content, "תוכן" %>
    <%= form.rich_text_area :content %>
  </div>

<% end %>

<script>
  var changes = 0
  var id = null
  var description
  var content
  var time_idle = 0
  $(document).ready(function() {
    console.log($("#document_privacy").val());
    $('.select2_tags').select2({
      tags: true,
      tokenSeparators: [','],
      placeholder: 'תגיות'
    });
  });
  $("trix-editor").css('border-top', 'none');
  $("trix-editor").focus(function(event) {
    $(event.target).closest('.field').find('.trix-button-row').css("display", "flex")
    $(event.target).addClass('focused')
  });
  $("trix-editor").blur(function(event) {
    $(event.target).closest('.field').find('.trix-button-row').css("display", "none")
    $(event.target).removeClass('focused')
  });
  $("trix-editor").on('trix-change', function(event) {
    changes++
    time_idle = 0
    if (changes >= 10) {
      console.log($("form").serialize());

      changes = 0
      if (id != null) {
        $.ajax({
          type: "PUT",
          url: "/documents/" + id + "",
          data: $("form").serialize(),
          success: function(data) {
            console.log(data);
            event.preventDefault()
            after_save()
          }
        })
      }
      else if (<%= action_name == "edit" %>) {
        id = <%= params[:id] %>
        $.ajax({
          type: "PUT",
          url: "/documents/" + id + "",
          data: $("form").serialize(),
          success: function(data) {
            console.log(data);
            event.preventDefault()
            after_save()
          }
        })
      }
      else if ($("input#document_title").val() != '') {
        $.ajax({
          type: "POST",
          url: "/documents",
          data: $("form").serialize(),
          success: function(data) {
            event.preventDefault()
            console.log(data);
            id = data.id
            after_save()
          }
        })
      }

    }
  });

  setInterval(function () {
    if (id != null && (description != $("trix-editor#document_description").val() || content != $("trix-editor#document_content").val())) {
      $.ajax({
        type: "PUT",
        url: "/documents/" + id + "",
        data: $("form").serialize(),
        success: function(data) {
          event.preventDefault()
          console.log(data);
          after_save()
        }
      })
    }else {
      time_idle = time_idle + 5000
      // console.log("time_idle: " + time_idle);
    }
    if (time_idle >= 60000) {
      // $("form").submit()
    }
  }, 5000);

  after_save = () => {
    description = $("trix-editor#document_description").val()
    content = $("trix-editor#document_content").val()
    $(".saved").addClass('show')
    setTimeout(function () {
      $(".saved").removeClass('show')
    }, 1000);
  }

  $("input[type=file]").on('change', e => {
    $(".files").html('')
    for (var i = 0; i < e.target.files.length; i++) {
      $(".files").append("<li>" + e.target.files[i].name + "</li>")
    }
    $(".open-upload-files").addClass('uploaded')
  });
  $(".open-upload-files").click(function(event) {
    $(".form-files").addClass('show')
  });
  $(".close-upload-files").click(function(event) {
    console.log("open");
    $(".form-files").removeClass('show')
  });
</script>
