<!-- <p id="notice"><%= notice %></p> -->

<h1>מסמכים</h1>

<!--Container-->
<div class="container w-full md:w-4/5 xl:w-3/5  mx-auto px-2 mt-20 text-gray-900">
<!--Card-->
  <div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
  	<table id="table" class="stripe hover">
  		<thead>
  			<tr>
  				<th data-priority="1">כותרת</th>
  				<th data-priority="2">תיאור</th>
  				<th data-priority="3">תוכן</th>
  				<th data-priority="4">משתמש</th>
  				<th data-priority="5">פרטיות</th>
  				<th data-priority="6"></th>
  				<th data-priority="7"></th>
  				<th data-priority="8"></th>
  			</tr>
  		</thead>
  		<tbody>
        <% @documents.each do |document| %>
          <tr>
              <td><%= document.title %></td>
              <td><%= document.description %></td>
              <td><%= document.content %></td>
              <td><%= User.find(document.user_id).name %></td>
              <td><%= he_privacy[document.privacy.to_sym] %></td>
              <td><%= link_to 'הצגה', document %></td>
              <td><%= link_to 'עריכה', edit_document_path(document) %></td>
              <td><%= link_to 'מחיקה', document, method: :delete, data: { confirm: 'בטוח\ה?' } %></td>
          </tr>
        <% end %>
  		</tbody>
  	</table>
  </div>
  <!--/Card-->
</div>
<!--/container-->

<br>

<%= link_to 'יצירת מסמך חדש', new_document_path %>
