<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= User.find(@document.user_id).name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @document.content %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @document.tag_list %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @document.privacy %>
</p>

<%= @document.attachments.first %>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
