<p id="notice"><%= notice %></p>

<div class="mb-4">
  <p>
    <strong>נוצר ע"י:</strong>
    <%= User.find(@document.user_id).name %>
  </p>

  <p>
    <strong>כותרת:</strong>
    <%= @document.title %>
  </p>

  <p>
    <strong>תיאור:</strong>
    <%= @document.description %>
  </p>

  <p>
    <strong>תוכן:</strong>
    <%= @document.content %>
  </p>

  <p>
    <strong>תאריך יצירת המסמך:</strong>
    <%= @document.date.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <strong>תגיות:</strong>
    <%= @document.tag_list %>
  </p>

  <p>
    <strong>הגדרת פרטיות:</strong>
    <%= he_privacy[@document.privacy.to_sym] %>
  </p>
</div>

<p>
  <strong>קבצים מצורפים:</strong>
  <ul>
    <% @document.attachments.each do |attachment| %>
      <% if attachment.image? %>
        <li class="mt-4"><%= link_to url_for(attachment) do %>
          <%= image_tag attachment, alt: attachment.filename, class: "h-64" %>
        <% end %></li>
      <% elsif attachment.video? %>
        <li class="mt-4"><%= video_tag url_for(attachment), controls: true, class: "h-64" %></li>
      <% elsif attachment.audio? %>
        <li class="mt-4"><%= audio_tag url_for(attachment) %></li>
      <% elsif attachment.text? %>
        <li class="mt-4"><p><%= attachment %></p></li>
      <% else %>
        <%= link_to attachment.filename, url_for(attachment) %>
        <%# link_to url_for(attachment) do %>
          <!-- <li class="mt-4"><%# image_tag attachment.preview(resize_to_limit: [1000, 1000]) %></li> -->
        <%# end %>
      <% end %>
    <% end %>
</ul>
</p>

<br>
<%= link_to 'עריכת המסמך', edit_document_path(@document), class: "bg-white hover:bg-gray-400 text-blue-600 font-bold py-2 px-4 rounded-full" %>
