<!-- <header class=""> -->

  <!--Nav-->
  <nav id="header" class="fixed w-full z-30 top-0 text-white bg-blue-600">

    <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">

      <div class="pl-4 flex items-center">
        <%= link_to "ארכישמוץ", root_path, class: "toggleColour no-underline hover:no-underline font-bold text-2xl lg:text-4xl mr-2 lg:mr-0" %>
      </div>

      <div class="block lg:hidden pr-4">
        <button id="nav-toggle" class="flex items-center p-1 text-white fill-current hover:text-gray-900 toggleColour">
          <svg class="h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>תפריט</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
      </div>

      <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-blue-600 lg:bg-transparent  p-4 lg:p-0 z-20" id="nav-content">
        <ul class="list-reset lg:flex justify-end flex-1 items-center mb-4 lg:mb-0">
          <% if user_signed_in? && current_user.admin? %>
            <li>
              <%= link_to "ניהול משתמשים", user_index_path, class: "toggleColour inline-block no-underline hover:text-gray-800 hover:text-underline py-2 px-4" %>
            </li>
          <% end %>
          <li>
            <%= link_to "חיפוש", search_path, class: "toggleColour inline-block no-underline hover:text-gray-800 hover:text-underline py-2 px-4" %>
          </li>
          <li>
            <%= link_to "מרחב עבודה צוותי", teams_path, class: "toggleColour inline-block no-underline hover:text-gray-800 hover:text-underline py-2 px-4"  %>
          </li>
          <li>
            <% if user_signed_in? %>
             <%= link_to "פרופיל", profile_path, class:"toggleColour block lg:inline-block no-underline hover:text-gray-800 hover:text-underline py-2 px-4" %>
             <%= link_to "התנתקות", destroy_user_session_path, method: :delete, class:"toggleColour block lg:inline-block no-underline hover:text-gray-800 hover:text-underline py-2 px-4" %>
            <% else %>
              <%= link_to "כניסה", new_user_session_path, class:"toggleColour inline-block no-underline hover:text-gray-800 hover:text-underline py-2 px-4" %>
            <%= link_to "הרשמה", new_user_registration_path, class:"toggleColour inline-block no-underline hover:text-gray-800 hover:text-underline py-2 px-4" %>
            <% end %>
          </li>
        </ul>
        <%= link_to "העלאת חומרים", new_document_path, id: "navAction", class: "mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75" %>
      </div>
    </div>

    <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
  </nav>
<!-- </header> -->

<script>
  var scrollpos = window.scrollY;
  var header = document.getElementById("header");
  var navcontent = document.getElementById("nav-content");
  var navaction = document.getElementById("navAction");
  var brandname = document.getElementById("brandname");
  var toToggle = document.querySelectorAll(".toggleColour");

  // document.addEventListener('scroll', function() {
  //
  // /*Apply classes for slide in bar*/
  // scrollpos = window.scrollY;
  //
  //   if(scrollpos > 10){
  //     header.classList.add("bg-white");
  //     navaction.classList.remove("bg-white");
  //     navaction.classList.add("bg-blue-600");
  //     navaction.classList.remove("text-gray-800");
  //     navaction.classList.add("text-white");
  //     //Use to switch toggleColour colours
  //     for (var i = 0; i < toToggle.length; i++) {
  //      toToggle[i].classList.add("text-gray-800");
  //      toToggle[i].classList.remove("text-white");
  //     }
  //     header.classList.add("shadow");
  //     navcontent.classList.remove("bg-blue-600");
  //     navcontent.classList.add("bg-white");
  //   }
  //   else {
  //   header.classList.remove("bg-white");
  //   navaction.classList.remove("bg-blue-600");
  //   navaction.classList.add("bg-white");
  //   navaction.classList.remove("text-white");
  //   navaction.classList.add("text-gray-800");
  //   //Use to switch toggleColour colours
  //   for (var i = 0; i < toToggle.length; i++) {
  //    toToggle[i].classList.add("text-white");
  //    toToggle[i].classList.remove("text-gray-800");
  //   }
  //   header.classList.remove("shadow");
  //   navcontent.classList.remove("bg-white");
  //   navcontent.classList.add("bg-blue-600");
  //   }
  // });


</script>

<script>
  /*Toggle dropdown list*/
  /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

  var navMenuDiv = document.getElementById("nav-content");
  var navMenu = document.getElementById("nav-toggle");

  document.onclick = check;
  function check(e){
    var target = (e && e.target) || (event && event.srcElement);

    //Nav Menu
    if (!checkParent(target, navMenuDiv)) {
    // click NOT on the menu
    if (checkParent(target, navMenu)) {
      // click on the link
      if (navMenuDiv.classList.contains("hidden")) {
      navMenuDiv.classList.remove("hidden");
      } else {navMenuDiv.classList.add("hidden");}
    } else {
      // click both outside link and outside menu, hide menu
      navMenuDiv.classList.add("hidden");
    }
    }

  }
  function checkParent(t, elm) {
    while(t.parentNode) {
    if( t == elm ) {return true;}
    t = t.parentNode;
    }
    return false;
  }
</script>
