<!DOCTYPE html>
<html lang="he" dir="rtl">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "ארכיון השומר הצעיר" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content=<%= content_for?(:title) ? yield(:title) : "ארכיון השומר הצעיר" %> />
    <meta property="og:description" content="פרויקט לתיעוד תנועת השומר הצעיר" />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:image" content="<%# image_url('fenix.png') %>" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/r-2.2.6/sp-1.2.0/datatables.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2K2SYELCHC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2K2SYELCHC');
    </script>
  </head>

  <body class=" atext-white tracking-wider leading-normal">

    <%= render "layouts/navbar" unless current_page?(intro_path) ||  current_page?(intro2_path) ||  current_page?(intro3_path) %>
    <main class="lg:px-10 px-4 mt-20">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
    <%= render "layouts/footer" unless current_page?(intro_path) ||  current_page?(intro2_path) ||  current_page?(intro3_path) %>
    <script>
      $(document).ready(function() {
        // console.log($(window).height() - $("nav").height());
        // const height = $(window).height() - $("nav").height()
        // $("main").css('min-height', height + "px")
        // $("footer").css('margin-top', "-" + $("footer").height() + "px")
        console.log(
        $('main').height(),
        $(window).height()
        );

        if ($('main').height() < $(window).height()) {
          $("footer").addClass('absolute bottom-0')
        }
      var table = $('#table').DataTable( {
          responsive: true,
          language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Hebrew.json"
            }
        } )
        // .columns.adjust()
        // .responsive.recalc();
      } );
    </script>
  </body>
</html>
